# compile_commands.json is a symlink created via `make setup`
compile_commands.json

# track src separately
src/*
src/*/.git
!src/.gitkeep

# keep bags in same place, but, don't track
bags/*
!bags/.gitkeep

# keep bags in same place, but, don't track
log/*
!log/.gitkeep

# ignore
build/
install/
